<table class="table-auto shadow-lg rounded-md">
  <thead class="bg-gray-200 rounded-md">
    <tr>
      <th class="py-4 font-bold" *ngFor="let prop of displayedColumns">{{prop!='ssn'?(prop | titlecase):(prop|uppercase)}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let member of listMembers">
      <td class="text-blue-500" >{{member.firstName}}</td>
      <td class="text-blue-500" >{{member.lastName}}</td>
      <td class="text-blue-500" >{{member.address}}</td>
      <td class="text-blue-700">{{member.ssn}}</td>
    </tr>
  </tbody>
</table>
<ng-template #whileSearching>
  <div class="flex justify-center pt-12">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>